
{% extends 'base.html' %}

{% block content %}

<form action="SalahTimes" id="personForm"  data-cities-url="{% url 'ajax_load_cities' %}" data-states-url="{% url 'ajax_load_states' %}" >



<div style="width: 50%; background-color:  blue; float:left;">

Select Country: (or enter location coordinates below.)
<select id="country" name="countryvalue" >


<option value="0" selected> -- </option>
{% for item1, item2 in countryziplist %}

<option value="{{ item2 }}">{{ item1 }}</option>
    {% endfor %}
</select>

<div id = "statediv"></div>


Select City: (or enter location coordinates below.)
<select id="city" name="cityvalue">

<option value="0" selected> -- </option>

</select>

</div>
<div style="width: 25%;  background-color: red; float:left;">
<p> OR </p>
</div>

<div style="width: 25%;  background-color: pink; float:right;">

Enter latitude: <input type="text" name="lat"> <br>
Enter longitude: <input type="text" name="long"> <br>

</div>




<br/>
<br/>
<br/>

<!-- Enter Time zone difference:* <input type="text" name="timezone" > <br> --> 
<!-- Enter Daylight savings:* <input type="text" name="dst" required> <br> --> 

<input type="radio" name="choice" id="day" value="day" > 1 day <br>
<input type="radio" name="choice" id="week" value="week"> 7 days <br>
<input type="radio" name="choice" id="month" value="month"> 30 days <br>



<! -- Enter Monthwise: <input type="text" name="is_month"> <br>
<! -- Enter Day wise: <input type="text" name="is_day"> <br>
<! --Enter Weekwise savings: <input type="text" name="is_week"> <br>

Select date: <input type="date" value={{ queryDate }} name="SalahDate" >
<input type="submit">
</form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>

//$('#country').change(function () {
//    alert('This works');
//}); 


    $("#country").change(function () {
        
      var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
alert('This works again'+url);
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
        var data = $.parseJSON(data);
        //alert(data[0]);
        alert(data.cities)
        $("#city").html(data.cities);  // replace the contents of the city input with the data that came from the server
        $("#statediv").html(data.states); //'<p> changed!</p>');
        $("#state").change(showStateCities);
        }
      });

    });


   function showStateCities () {
      var url = $("#personForm").attr("data-states-url");  // get the url of the `load_cities` view
alert('This works again'+url);
      var stateId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': stateId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
        var data = $.parseJSON(data);
        //alert(data[0]);
        alert(data.cities)
        $("#city").html(data.cities);  // replace the contents of the city input with the data that came from the server
        //$("#statediv").html(data.states); //'<p> changed!</p>');
        }
      });

    }

  </script>


{% endblock %}
